/.git
/.github
/.idea
/.env
/vendor
/node_modules
/public/hot
/public/build
/public/storage
/storage/.key
/storage/framework/cache/
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
Dockerfile
.dockerignore
docker-compose.yml
README.md
